<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput placeholder="email@gmail.com" [formControl]="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput
           [type]="passwordVisibility ? 'text' : 'password'"
           [placeholder]="passwordVisibility ? 'password' : '******'"
           [formControl]="password">
    <button mat-icon-button matSuffix (click)="passwordVisibility = !passwordVisibility"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="passwordVisibility">
      <mat-icon>{{passwordVisibility ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="!email?.value || !password?.value">submit</button>

</form>
