<ng-container *ngIf="isLoading; else loaded">
  <p class="text-center">loading...</p>
</ng-container>

<ng-template #loaded>

  <ng-container *ngIf="posts.length; else noPosts">
    <div class="form-control">
      <input type="text" placeholder="Найти пост..." [(ngModel)]="searchStr">
    </div>
    <table>
      <thead>
      <tr>
        <th (click)="sortBy('id')">#</th>
        <th (click)="sortBy('title')">Название</th>
        <th (click)="sortBy('date')">Дата</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts | searchPosts:searchStr; let idx = index">
        <td>{{ idx + 1 }}) id: {{post.id}}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.date | date:'medium':null:'ru' }}</td>
        <td>
          <button mat-button type="button" class="btn" [routerLink]="['/admin', 'post', post.id, 'edit']">
            Открыть
          </button>
          <button mat-button type="button" class="btn remove" (click)="remove(post.id)">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noPosts>
    <p class="text-center">no posts...</p>
  </ng-template>

  <a mat-button [routerLink]="['/admin', 'create']">create</a>

</ng-template>
